*.pyc
*.pyd
*.o
*.so
*.dylib
*.dll
build/
ffi/*.tar.xz
ffi/lldbuild/
ffi/llvm-project-16.0.0.src/
dist/
*.egg-info
ffi/build/
htmlcov/
.coverage
coverage.xml
MANIFEST
docs/_build/
docs/gh-pages/
.*.swp
