jobs:
# Mac and Linux use the same template with different matrixes
- template: buildscripts/azure/azure-linux-macos.yml
  parameters:
    name: macOS
    vmImage: macos-15
    variables:
      MACOSX_DEPLOYMENT_TARGET: '11.0'
    matrix:
      py310:
        PYTHON: '3.10'
        CONDA_ENV: cienv
      py311:
        PYTHON: '3.11'
        CONDA_ENV: cienv
      py312:
        PYTHON: '3.12'
        CONDA_ENV: cienv
      py313:
        PYTHON: '3.13'
        CONDA_ENV: cienv
      opaque_pointers:
        PYTHON: '3.12'
        CONDA_ENV: cienv
        OPAQUE_POINTERS: yes

- template: buildscripts/azure/azure-linux-macos.yml
  parameters:
    name: Linux
    vmImage: ubuntu-24.04
    matrix:
      py310:
        PYTHON: '3.10'
        CONDA_ENV: cienv
        RUN_FLAKE8: yes
        DIST_TEST: yes
      py311:
        PYTHON: '3.11'
        CONDA_ENV: cienv
        RUN_FLAKE8: yes
        DIST_TEST: yes
      py312:
        PYTHON: '3.12'
        CONDA_ENV: cienv
        RUN_FLAKE8: yes
        DIST_TEST: yes
      py313:
        PYTHON: '3.13'
        CONDA_ENV: cienv
        RUN_FLAKE8: yes
        DIST_TEST: yes

      py310_wheel:
        PYTHON: '3.10'
        CONDA_ENV: cienv
        WHEEL: 'yes'
      py311_wheel:
        PYTHON: '3.11'
        CONDA_ENV: cienv
        WHEEL: 'yes'
      py312_wheel:
        PYTHON: '3.12'
        CONDA_ENV: cienv
        WHEEL: 'yes'
      py313_wheel:
        PYTHON: '3.13'
        CONDA_ENV: cienv
        WHEEL: 'yes'

      opaque_pointers:
        PYTHON: '3.12'
        CONDA_ENV: cienv
        OPAQUE_POINTERS: yes

- template: buildscripts/azure/azure-windows.yml
  parameters:
    name: Windows
    vmImage: windows-2025

- job: check_formatting
  pool:
    vmImage: 'ubuntu-latest'
  steps:
  - script: |
      set -ex
      buildscripts/incremental/install_miniconda.sh
      export PATH=$HOME/miniconda3/bin:$PATH
      conda install -c conda-forge -y clang-format-20
      clang-format-20 -n -Werror ffi/*.cpp ffi/*.h
    displayName: Check C++ formatting
