include *.rst setup.py runtests.py run_coverage.py LICENSE
include versioneer.py
include llvmlite/_version.py
recursive-include examples *.py *.ll
recursive-include ffi *.txt *.h *.cpp Makefile.* *.py
global-exclude CMakeCache.txt
