name: lint with pre-commit

on:
  pull_request:
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@505e6394dae86d6a5c7fbb6e3fb8938e3e863830 # v3.1.1
        with:
          auto-update-conda: true
          auto-activate-base: false
      - name: Install pre-commit
        run: conda install -c conda-forge pre-commit
      - name: Lint code with pre-commit
        run: pre-commit run --verbose --all-files
